<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h4 {
            color: pink;
        }
    </style>
</head>
<body>
    <p>Guess 4 numbers. Enter them separated with spaces:</p>
    <form method="POST" action="/">
        {% csrf_token %}
        <input type="text" name="numbers"/>
        <input type="submit" value="Send"/>
    </form>
    <h4>{{ result }}</h4>

</body>
</html>